.poop-page {
  height: 100%;
  &-wrap {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-dialog {
    --min-width: 90vw;
    &-form {
      max-height: calc(100vh - 400px);
      overflow-y: auto;
      &-radio {
        --font-size: 14px;
        &.color {
          color: var(--value)
        }
      }
    }
  }

  &-list {
    font-size: 16px;
    margin: 20px;
    width: 100vw;
    &-mask {
      width: calc(100% - 30px);
      margin: auto;
      max-height: calc(100vh - 370px);
      overflow-y: auto;
      position: relative;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: 500px;
      pointer-events: none;
      background: linear-gradient(
        0deg,
        rgba(var(--page-bg-r), var(--page-bg-g), var(--page-bg-b), 1) 0%,
        rgba(var(--page-bg-r), var(--page-bg-g), var(--page-bg-b),.1) 15%,
        rgba(var(--page-bg-r), var(--page-bg-g), var(--page-bg-b), 0) 100%
      );
    }
    ol {
      margin-left: 30px;
    }
    li {
      position: relative;
      margin-bottom: 4px;
      > div {
        width: 100%;
        display: inline-flex;
        gap: 4px;
        align-items: center;
      }
    }
  } 

  &-btns {
    font-size: 14px;
    .circle-button {
      font-size: 18px;
    }
  }
}