.home-page {
  height: 100%;
  &-greeting {
    &-name {
      font-weight: bold;
      padding-right: 8px;
    }
  }
  &-gif {
    margin: auto;
    display: block;
    width: 50vw;
  }
  &-today {
    padding: 12px;
    text-align: center;
  }
}

