@mixin feed-btn-style($color) {
  border: 2px dashed lighten($color, 20%);
  background-color: lighten($color, 42%);
}

.feed-btn {
  --size: 80px;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  color: #000;
  @include feed-btn-style( rgb(128,128,128));
  &.active {
    @include feed-btn-style(red);
  }
  &-icon {
    font-size: 20px;
    path {
      fill: red;
    }
  }
  &-group {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.feed-control {
  &-total {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    b {
      font-size: 24px;
    }
  }
  &-bottom {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &-img {
    margin: max(calc(100vh - 600px), 100px) auto 20px auto;
    display: block;
    max-width: 120px;
    &[src=''] {
      display: none;
    }
  }
}