@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  --page-bg-r: 241;
  --page-bg-g: 244;
  --page-bg-b: 248;
  --text-color: #333;
  --theme-color: #f66f97;
  color: var(--text-color);
  &.night-mode {
    filter: brightness(0.8) contrast(1.2);
    --page-bg-r: 126;
    --page-bg-g: 126;
    --page-bg-b: 126;
    --text-color: #f0f0f0;
    color: var(--text-color);
  }
}
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}
.home-container {
  &-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(var(--page-bg-r), var(--page-bg-g), var(--page-bg-b));
  }
  & {
    flex: 1;
    position: relative;
    overflow-y: auto;
  }
  &-navigation {
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: space-between;
    flex-shrink: 0;
    &-btn {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-top: 1px solid rgba(204, 204, 204, .5);
      &.active {
        background-color: rgba(204, 204, 204, .5);
      }
    }
  }
  
  .page-title {
    position: sticky;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-start;
    padding: 12px;
    font-size: 16px;
    top: 0;
  }
}