.feed-btn {
  --size: 80px;
  --background-color: rgb(128,128,128);
  border-radius: 50%;
  border: 2px dashed color-mix(in srgb, var(--background-color) 80%, #FFFFFF);
  background-color: color-mix(in srgb, var(--background-color) 20%, #FFFFFF);
  width: var(--size);
  height: var(--size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  &.active {
    --background-color: red;
  }
  &-icon {
    path {fill: red;}
    font-size: 20px;
  }
  &-group {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
}

.feed-control {
  &-total {
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    b {
      font-size: 24px;
    }
  }
}